body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 20px;
  padding-right: 12px;
}

.card-inside {
  background-color: #e8e8e8;
}

.deleteButton {
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 90%;
  margin-top: 1%;
}
